<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/roomForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/view/adminPanelclientzimmer.js" type="text/javascript" defer></script>
    <title>Buchmichl</title>
</head>

<body>
    <header>
        <nav>
            <label class="logo">BUCHMICHL</label>
            <ul>
                <li><a id="home">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="accommodation-form">
        <div class="accommodation-form-content">
            <h1 class="header-form">Zimmer erstellen</h1>
            <div class="input-name">
                <p>Name Zimmer</p>
                <input type="text" class="input-form"/>
            </div>
            
            <!-- <div class="input-name">
                <p>Zimmer Art</p>
                <div class="address">
                    <div>
                        <p class="styled-p">Straße</p>
                        <input class="input-form" />
                    </div>
                    <div>
                        <p class="styled-p">Nummer</p>
                        <input class="input-form" />
                    </div>
                    <div>
                        <p class="styled-p">Ort</p>
                        <input class="input-form" />
                    </div>
                    <div>
                        <p class="styled-p">PLZ</p>
                        <input class="input-form" />
                    </div>
                </div>
            </div> -->
            
            <div class="input-name">
                <p>Zimmerart</p>
                <select class="input-form">
                    <option>Suite</option>
                    <option>Hotel</option>
                    <option>Apartment</option>
                </select>

            </div>


            <div class="input-name">
                <p>Zimmerausstattung</p>
                <div class="tag-section">
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Dusche</p>
                        </div>
                    </div>
                    
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">WC</p>
                        </div>
                    </div>
                    
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Fernseher</p>
                        </div>
                    </div>
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Balkon</p>
                        </div>
                    </div>
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Schreibtisch</p>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="input-name">
                <p>Verpflegungsmöglichkeiten</p>
                <div class="tag-section">
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Halbpension</p>
                        </div>
                    </div>
                    
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Vollpension</p>
                        </div>
                    </div>
                    
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">All-Inclusive</p>
                        </div>
                    </div>
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">Ohne</p>
                        </div>
                    </div>
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">+ Bar</p>
                        </div>
                    </div>
                    <div class="input-checkbox equipment-tag">
                        <div class="checkbox-form">
                            <input type="checkbox" />&nbsp;
                        </div>
                        <div class="chekbox-form">
                            <p class="styled-p">+ Nachmittags-Snack</p>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="input-name personen-preis-helper">
                <div style="margin-right: 20px;">
                    <p>Personen</p>
                    <div class="input-checkbox">
                        <input type="number" min="3" max="5" accept="" value="" class="input-form input-stars"/>&nbsp;
                        <div class="checkbox-form">
                            <input type="checkbox" class="checkbox"/>
                        </div>
                        <p class="input-stars">&nbsp;S</p>
                    </div>
                </div>

                <div>
                    <p>Preis pro Nacht in €</p>
                    <input type="number" min="0" value=" " accept=" " class="input-form input-stars" style="width: 100px;"/>
                </div>
                
            </div>
            <br>
            <br>
            <input type="button" class="submit-btn" value="Erstellen"/>
            <br>
            <br>
    </div>
</body>

</html>