<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="../public/stylesheets/kontodetails.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../public/view/globalrequestclient.js" type="text/javascript" defer></script>
        <script src="../public/view/kontodetailsclient.js" type="text/javascript" defer></script>
        <title>Buchmichl</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><label class="logo">BUCHMICHL</label></li>
                    <li class="dropdown "><a id="home" class="dropbtn">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Settings <%=username%></a>
                        <div class="dropdown-content">
                            <%-options%>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="accommodation-form">
            <div class="accommodation-form-content">
                <h1 class="title-konto">
                    Konto
                </h1>
                <div class="bt">
                    <button id="unterkunftform" class="submit-btn">Unterkunft erstellen</button>
                    <button id="zimmerform" class="submit-btn">Zimmer erstellen</button>
                    <button id="inseratelist" class="submit-btn">Meine Inserate</button>
                </div>
            </div>

        </div>
    </body>
</html>