<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/view/kontoansichtclient.js" type="text/javascript" defer></script>
    <title>Buchmichl</title>
</head>

<body>
    <header class="showcase">
        <nav>
            <ul>
                <li class="logo">
                    <label class="logo">BUCHMICHL</label>
                </li>
                <li><a id="home">Home</a></li>
                
            </ul>
        </nav>

        <div class="content">
            <div class="title">
                Kontosachen macht Frontend Team
            </div>
            <div class="bt">
                <button id="adminPanelUnterkunft">Unterkunft erstellen</button>
                <button id="adminPanelZimmer">Zimmer erstellen</button>
            </div>
        </div>
    </header>
</body>

</html>