body {
    height: 100vh;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-top: 0;
    padding: 3%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #053426;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin: 0;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}


/*
    New Style
*/

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 3%;
    font-weight: bold;
    color: #053426;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "search region-input bewertung bewertung-auswahl" "preis-von preis-von-wert preis-bis preis-bis-wert" "anz-pers anz-pers-wert art art-wert" "bt-search bt-search bt-search bt-search";
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    grid-gap: 20px;
}

.search {
    grid-area: search;
}

.region-input {
    grid-area: region-input
}

.bewertung {
    grid-area: bewertung;
}

.bewertung-auswahl {
    grid-area: bewertung-auswahl;
}

.preis-von {
    grid-area: preis-von
}

.preis-von-wert {
    grid-area: preis-von-wert;
}

.preis-bis {
    grid-area: preis-bis;
}

.preis-bis-wert {
    grid-area: preis-bis-wert;
}

.anz-pers {
    grid-area: anz-pers;
}

.anz-pers-wert {
    grid-area: anz-pers-wert;
}

.art {
    grid-area: art;
}

.art-wert {
    grid-area: art-wert;
}

.bt-search {
    margin-top: 4%;
    grid-area: bt-search;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.bt-search a {
    padding: 8px 25px 8px 25px;
    text-decoration: none;
    border: solid 2px #053426;
    background-color: #053426;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.bt-search a:hover {
    background-color: #38785E;
    border-color: #38785E;
}

input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 2px #38785E;
    font-size: 16px;
}

select {
    width: 100%;
    height: 100%;
    border: solid 2px #38785E;
    outline: none;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

.rooms {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 4%;
}

.room {
    width: 100%;
    height: auto;
    margin-top: 20px;
    height: auto;
    background-color: #C2A25D;
    border-radius: 10px;
}

.room p {
    text-align: center;
    padding: 100px;
}

.room p a {
    text-decoration: underline;
    color: #053426;
    font-size: 32px;
}

#suchen {
    cursor: pointer;
}

#home {
    cursor: pointer;
}

template {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

#list {
    margin-top: 3%;
}


.listItemText {
    padding-top: 0;
    vertical-align: top;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}

.listItemText > * {
    width: 50%;
    /*flex-grow: 1;
    flex-shrink: 0;*/
}

.listItemText > h3 {
    color: #053426;
    font-size: 1.5em;
    width: 100%;
}

.listItemText > #bt_details {
    width: 100px;
}