/*
    Unterkunftstyle
*/
.submit-btn {
    padding: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    width: 20%;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.listContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    margin: 0 auto;
}

.listItem{
   width: 100%;
   margin: 20px;
}

.listItem h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItem p{
    font-size: 16px;
}

.submit-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.detail-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.detail-btn:hover{
    background-color: #AD8D49;
}

/*
    Zimmer-Container-Sytle
*/
#list {
    margin-top: 3%;
    margin: 0 auto;
    width: 50%;
}


.listItemText {
    padding-top: 0;
    vertical-align: top;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}

.listItemText > * {
    width: 50%;
}

.listItemText > h3 {
    color: #053426;
    font-size: 1.5em;
    width: 100%;
}

.listItemText > #bt_details {
    width: 100px;
}

.listItemText h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItemText p, button{
    font-size: 16px;
}

.listContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}

.listItem{
   width: 100%;
   margin: 20px;
}

.listItem h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItem p{
    font-size: 16px;
}

/*
    Submit-Button
*/
.submit-btn {
    width: auto;
    padding: 5px;
    cursor: pointer;
    display: block;
    margin-right: 10%;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

/*
    Other styles
*/

.temp-header{
    font-size: 14px;
    font-weight: bold;
    color: #053426;
}

hr {
    color: #AD8D49;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #AD8D49;
    margin: 20px 0px 0px 20px;
}