html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #053426;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin: 0;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.accommodation-form {
    background-color: white;
    width: 45%;
    min-width: 800px;
    margin: 0 auto;
    color: #053426;
    height: 100%;
    flex-grow: 1;
}

.accommodation-form-content {
    width: 90%;
    margin: auto;
}

.header-form {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
}

.input-name {
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: bold;
    margin-bottom: 1%;
}

.input-form {
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-bottom: 3px solid rgb(157, 157, 157);
    display: flex;
    font-size: 110%;
    margin-bottom: 3%;
}

.input-form:focus {
    border-color: #053426;
}

option {
    font-size: 1rem;
}

.input-stars {
    width: fit-content;
    margin-bottom: 0;
}

f
.checkbox {
    padding-top: auto;
    padding-bottom: auto;
}

.input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-form {
    text-align: center;
    height: 100%;
    align-items: center;
}


.address {
    width: 100%; /*no schaun*/
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 1%;
    
}

.styled-p {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.equipment-tag {
    width: fit-content;
    padding: .5%;
    border-color: gray;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin-right: 1%;
    margin-bottom: 1%;
}

.tag-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
}