
.details {
    width: 50%;
    float: right;
    margin-right: 5%;
}

h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #AD8D49;
    font-weight: bold;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
}


.sec-date{
    margin-left: 50px;
}

.infos {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-book button {
    width: 20%;
    background-color: #053426;
    border-radius: 10px;
    border: none;
    outline: nonen;
}

.btn-book button a {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#home {
    cursor: pointer;
}


template {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

#list {
    margin-top: 3%;
}



.listItemText {
    padding-top: 0;
    vertical-align: top;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}

.listItemText > * {
    width: 50%;
    margin: 0 auto;
}

.listItemText > h3 {
    color: #053426;
    font-size: 1.5em;
    width: 100%;
}

.listItemText > #bt_details {
    width: 100px;
}

.listItemText h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItemText p, button{
    font-size: 16px;
}

.list {
    position: initial;
}

.danke-alex {
    display: flex;
    justify-content: space-evenly;
}

.submit-btn {
    padding: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    width: 20%;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.listContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    margin: 0 auto;
}

.listItem{
   width: 100%;
   margin: 20px;
}

.listItem h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItem p{
    font-size: 16px;
}

.submit-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.detail-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.detail-btn:hover{
    background-color: #AD8D49;
}
