* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin: 0;
}


.details {
    width: 50%;
    float: right;
    margin-right: 5%;
}

h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #AD8D49;
    font-weight: bold;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
}

.datepicker {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.sec-date{
    margin-left: 50px;
}

.infos {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-book button {
    width: 20%;
    background-color: #053426;
    border-radius: 10px;
    border: none;
    outline: nonen;
}

.btn-book button a {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#home {
    cursor: pointer;
}


template {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

#list {
    margin-top: 3%;
}



.listItemText {
    padding-top: 0;
    vertical-align: top;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}

.listItemText > * {
    width: 50%;
    margin: 0 auto;
}

.listItemText > h3 {
    color: #053426;
    font-size: 1.5em;
    width: 100%;
}

.listItemText > #bt_details {
    width: 100px;
}

.listItemText h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItemText p, button{
    font-size: 16px;
}

.list {
    position: initial;
}

.danke-alex {
    display: flex;
    justify-content: space-evenly;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #053426;
    height: 80px;
    width: 100%;
}
  
.logo{
    float: left;
}

.dropdown{
    height: 30px;
    float: right;
    margin-right: 80px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.dropbtn{
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.dropbtn:hover{
    color: #AD8D49;
}

.dropbtn{
    text-align: center;
    justify-content: center;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

li.dropdown:hover{
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
    margin-top: -20px;
    margin-left: 20px;
    font-weight: bold;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: #AD8D49;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.submit-btn {
    padding: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    width: 20%;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.listContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    margin: 0 auto;
}

.listItem{
   width: 100%;
   margin: 20px;
}

.listItem h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItem p{
    font-size: 16px;
}

.submit-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

.detail-btn {
    padding: 2px;
    margin-top: 20px;
    margin-right: 8%;
    cursor: pointer;
    display: block;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    float: right;
}

.detail-btn:hover{
    background-color: #AD8D49;
}

