body {
    height: 100vh;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-top: 0;
    padding: 3%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin: 0;
}

/*
    New Style
*/

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 3%;
    font-weight: bold;
    color: #053426;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "search region-input bewertung bewertung-auswahl" "preis-von preis-von-wert preis-bis preis-bis-wert" "anz-pers anz-pers-wert art art-wert" "bt-search bt-search bt-search bt-search";
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    grid-gap: 20px;
}

.search {
    grid-area: search;
}

.region-input {
    grid-area: region-input
}

.bewertung {
    grid-area: bewertung;
}

.bewertung-auswahl {
    grid-area: bewertung-auswahl;
}

.preis-von {
    grid-area: preis-von
}

.preis-von-wert {
    grid-area: preis-von-wert;
}

.preis-bis {
    grid-area: preis-bis;
}

.preis-bis-wert {
    grid-area: preis-bis-wert;
}

.anz-pers {
    grid-area: anz-pers;
}

.anz-pers-wert {
    grid-area: anz-pers-wert;
}

.art {
    grid-area: art;
}

.art-wert {
    grid-area: art-wert;
}

.bt-search {
    outline: none;
    border: none;
    border-collapse: collapse;
    margin-top: 4%;
    grid-area: bt-search;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#suchen{
    text-decoration: none;
    color: white;
}

.bt-search a {
    padding: 8px 25px 8px 25px;
    text-decoration: none;
    background-color: #053426;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.bt-search a:hover {
    background-color: #AD8D49;
}

input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 2px #38785E;
    font-size: 16px;
}

select {
    width: 100%;
    height: 100%;
    border: solid 2px #38785E;
    outline: none;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

.rooms {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 4%;
}

.room {
    width: 100%;
    height: auto;
    margin-top: 20px;
    height: auto;
    background-color: #C2A25D;
    border-radius: 10px;
}

.room p {
    text-align: center;
    padding: 100px;
}

.room p a {
    text-decoration: underline;
    color: #053426;
    font-size: 32px;
}

#suchen {
    cursor: pointer;
}

#home {
    cursor: pointer;
}

template {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

#list {
    margin-top: 3%;
}


.listItemText {
    padding-top: 0;
    vertical-align: top;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}

.listItemText > * {
    width: 50%;
    /*flex-grow: 1;
    flex-shrink: 0;*/
}

.listItemText > h3 {
    color: #053426;
    font-size: 1.5em;
    width: 100%;
}

.listItemText > #bt_details {
    width: 100px;
}

.listItemText h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItemText p, button{
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #053426;
    height: 80px;
    width: 100%;
}
  
.logo{
    float: left;
}

.dropdown{
    height: 30px;
    float: right;
    margin-right: 80px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.dropbtn{
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.dropbtn:hover{
    color: #AD8D49;
}

.dropbtn{
    text-align: center;
    justify-content: center;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

li.dropdown:hover{
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
    margin-top: -20px;
    margin-left: 20px;
    font-weight: bold;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: #AD8D49;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.submit-btn {
    width: auto;
    padding: 5px;
    cursor: pointer;
    display: block;
    margin-right: 10%;
    background: #053426;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.submit-btn:hover{
    background-color: #AD8D49;
}

/*
    ListUpdate
*/
.listContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}

.listItem{
   width: 100%;
   margin: 20px;
}

.listItem h3{
    font-size: 24px;
    color: #AD8D49;
}

.listItem p{
    font-size: 16px;
}

