<html>

<head>
    <title>Zimmeransicht</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/public/view/ansichtclient.js"></script>
    
    <link href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/git/jquery.mobile-git.css" />
    <link rel="stylesheet"
        href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
    <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.js"></script>
    <script
        src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>

    <!-- eigene CSS-Anweisungen -->
    <link href="/public/stylesheets/style.css" rel="stylesheet">
    <style>
        .nav {
            background-color: #e75252;
            color: white;
            font-weight: lighter;
        }
    </style>
</head>

<body>
    <div class="content" data-role="page">
        <div data-role="header" style="background-color: #f90808;color: white;">
            <h1>Buchmichl</h1>
            <div data-role="navbar" class="nav">
                <ul>
                    <li class="nav"><a href="#" id="home">Startseite</a></li>
                    <li><a class="nav" href="#">Zimmer suchen</a></li>
                    <li><a class="nav" href="#">Impressum</a></li>
                </ul>
            </div>
        </div>

        <h1 style="margin-left: 2%;">Horwath Suite</h1>

        <div class="ui-grid-a" id="grid">
            <div class="ui-block-a" min-width="100px" >
                    <img src="/public/images/zimmer1.jpg" width="89%" height="80%">
                    <br />

                    <div class="ui-grid-c" min-width="80%" max-width="80%" id="slide">
                        <div class="ui-block-a">
                            <img src="/public/images/zimmer2.jpg" width="55%" height="50%">
                        </div>
                        <div class="ui-block-b">
                            <img src="/public/images/zimmer3.jpg" width="55%" height="50%">
                        </div>
                        <div class="ui-block-c">
                            <img src="/public/images/zimmer4.jpg" width="55%" height="50%">
                        </div>
                        <div class="ui-block-d">
                            <img src="/public/images/zimmer5.jpg" width="55%" height="50%">
                        </div>
                    </div>
                    <br>
                    <h3>Zimmerinfos:</h3>
                <textarea
                    readonly>Zimmerart: christliche Suite &#13;&#10;Dusche und WC inkludiert &#13;&#10;Halbpension: ja &#13;&#10;5 Sterne</textarea>


            </div>

            <div class="ui-block-b" min-width="100px">
                


                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label>Anreise:</label>
                        <input type="text" data-role="date" data-inline="true" id="date-von" height="400px">
                    </div>
                    <div class="ui-block-b" id="calenar2">
                        <label>Abreise:</label>
                        <input type="text" data-role="date" data-inline="true" id="date-bis" height="400px">
                    </div>

                </div>
                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <a href="#dialog" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left" id="buchen2"
                            width="200px">Buchen</a>
                            
                            
                    </div>
                </div>

            </div>
        </div>







    </div>

    <div data-role="dialog" id="dialog">
        <div data-role="header">
            <h1>Buchung abschließen</h1>
        </div>
        <div data-role="content">
            <p>Buchung einmal Horwath Suite.
                Aufenthalt von TT.MM.JJJJ bis TT.MM.JJJJJ<br>
                Preis: 1.000 € pro Nacht<br>
                Halbpension: 300€<br>
                Gesamtpreis: 2.300 €
            </p>
            <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-btn-a ui-icon-back ui-btn-icon-left"
                data-rel="back">Zurück</a>
            <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-btn-a ui-icon-check ui-btn-icon-left"
                data-rel="back">Abschließen</a>
        </div>
    </div>
</body>

</html>