
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Buchmichl</title>
            <meta name="description" content="The HTML5 Herald">
            <meta name="author" content="SitePoint">
            <link rel="stylesheet" href="/public/stylesheets/filter.css">
            <script src="https://kit.fontawesome.com/8b1b2bee53.js" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
            <script language="javascript" type="text/javascript" src="/public/view/filterclient.js"></script>
        </head>
        <body>
            <div class="header">
                <h1>Buchmichl</h1>
            </div>
            <div class="subheader">
                <h2>Wo soll's hingehen?</h2>
            </div>
            <div class="filterContainer">
                <div class="borderContainer">
                    <div class="flexContainer">
                        <span>Region:</span>
                        <input>
                    </div>
                    <div class="flexContainer">
                        <span>Sterne:</span>
                        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <div class="flexContainer">
                        <span>Preis von:</span>&nbsp;&nbsp;&nbsp;
                        <input>
                    </div>
                    <div class="flexContainer">
                        <span>Preis bis:</span>
                        <input>
                    </div>
                    <div class="flexContainer">
                        <span class="selectSpan1">Anz. Personen:</span>
                        <select>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                        </select>
                    </div>
                    <div class="flexContainer">
                        <span class="selectSpan2">Art Unterkunft:</span>
                        <select>
                            <option>
                                Hotel
                            </option>
                            <option>
                                Pension
                            </option>
                        </select>
                    </div>
                    <div class="flexContainerButton">
                        <button id="suchen">Suchen <i class="fas fa-search"></i></button>
                    </div>
                </div>
    
            </div>
        </body>
    </html>
    