
 

    <!DOCTYPE html>
    <html>
    <head>
        <title>Buchmichl Login</title>
        <link rel="stylesheet" href="/public/stylesheets/login.css">
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script language="javascript" type="text/javascript" src="/public/view/loginclient.js"></script>
    </head>
        <body>
            <div class="container" onload="appear()">
                <h1 class="center loginHeader">Login</h1>
                <div class="input">
                    <input id="username"/>
                    <p>Username</p>
                    <br/>
                </div>
                <div class="input">
                    <input id="passwort"  type="password"/>
                    <p>Password</p>
                    <br/>
                    <button class="button" id="anmelden">Anmelden</button>
                    <br/>
                    <br/>
                </div>
                <br/>
            </div>
        </body>
    </html>