
    
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/stylesheets/start.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/public/view/startclient.js"></script>
        <title>Buchmichl</title>
    </head>
    <body>
        <header class="showcase">
            <div class="content">
                <div class="title">
                    Willkommen auf Buchmichl!
                </div>
                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, non.</div>
                <button class="clickme" id="buchen">Jetzt Buchen</button>
            </div>
        </header>
    
        <!-- Die vier Köpfe hinter Buchmichl -->
        <section class="services bg-red">
            <div class="container grid-4 center">
                <div>
                    <i class="fa fa-user fa-3x"></i>
                    <h3>Alex</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, labore?</p>
                </div>
                <div>
                    <i class="fa fa-user fa-3x"></i>
                    <h3>Martin</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, labore?</p>
                </div>
                <div>
                    <i class="fa fa-user fa-3x"></i>
                    <h3>Thomas</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, labore?</p>
                </div>
                <div>
                    <i class="fa fa-user fa-3x"></i>
                    <h3>Matthias</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, labore?</p>
                </div>
                
            </div>
        </section>
    
        <!-- Die vier Köpfe hinter Buchmichl -->
        <section class="about bg-light">
            <div class="container">
                <div class="grid-2">
                    <div class="center">
                        <i class="fa fa-laptop fa-5x"></i>
                    </div>
                    <div>
                        <h3>About Buchmichl</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam beatae earum magni consectetur voluptatem a velit qui corrupti reprehenderit ratione natus, iste soluta non incidunt perspiciatis ut minus animi eius doloribus blanditiis vero vel inventore? Illo fugiat hic dolor numquam?</p>
                    </div>
                </div>
            </div>
        </section>
    
        <footer class="center bg-red">
            <p>Buchmichl &copy; 2020</p>
        </footer>
    </body>
    </html>