<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/start.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Buchmichl</title>
</head>

<body>
    <header class="showcase">
        <nav>
            <label class="logo">BUCHMICHL</label>
            <ul>
                <li><a href="login.ejs">Login</a></li>
            </ul>
        </nav>

        <div class="content">
            <div class="title">
                Willkommen auf Buchmichl!
            </div>
            <div class="text">Auf zu ihrem nächsten Urlaub</div>
            <div class="bt">
                <a class="bt-book" href="filter.ejs">JETZT BUCHEN</a>
            </div>
        </div>
    </header>
</body>

</html>